@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-action="Register" asp-controller="Account">Register</a>
    <a  asp-action="Login" asp-controller="Account">Login</a>
</div>
